.git
.github
.venv
.venv.broken
.idea
.vscode
__pycache__
*.pyc
*.pyo
*.egg-info
build
dist
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
coverage.xml
htmlcov
tests
examples
docs
*.md
!README.md
.DS_Store
Dockerfile
.dockerignore
.gitignore
